<div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">

            <li>
                <a routerLink="/category/1" routerLinkActive="active-link">Action</a>
            </li>
            <li>
                <a routerLink="/category/2" routerLinkActive="active-link">Adventure</a>
            </li>
            <li>
                <a routerLink="/category/3" routerLinkActive="active-link">Fantasy</a>
            </li>
            <li>
                <a routerLink="/category/4" routerLinkActive="active-link">Horror</a>
            </li>

        </ul>
    </nav>
</div>